<!DOCTYPE html>
<html>
<head>
  <title>Sudoku</title>
  <script type="text/javascript" src = "javascripts/underScore.js"></script>
  <script type="text/javascript" src = "javascripts/sudoku-logic.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src = "javascripts/application.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/sudoku.css"></head>
<body>
<div>Jake's sudoku solver</div>
<div id = "col1">
  <form>
    <% 9.times do |i|%>
      <div id = "row<%= i %>">
      <%= erb :'row', locals: {i: i} %>
      </div>
    <% end %>
  </form>
</div>
<div id = "col2">
  <button id = "clear">clear</button>
  <button id = "solve">solve</button>
  <div id = "error">Error in solving the board. make sure the board you entered is valid and that you only entered numbers between 1 and 9</div>
</div>
</body>
</html>