<!DOCTYPE html>
<html>
<head>
  <title>Sudoku</title>
  <script type="text/javascript" src = "underScore.js"></script>
  <script type="text/javascript" src = "application.js"></script>
</head>
<body>
<div>Jake sudoku solver</div>
<form>
  <% 8.times do |i|%>
    <div>hi</div>
  <% end %>
</form>
</body>
</html>